{% extends 'base.html.twig' %}

{% block title %}
  Home Page
{% endblock %}

{% block body %}

  <div class="container">

    <header class="jumbotron my-4">
      <h1 class="display-3">Lorem ipsum dolor sit.</h1>
      <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
      <a href="#" class="btn btn-primary btn-lg">Click</a>
    </header>

    <div class="row text-center">
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://source.unsplash.com/random/200x200" alt="Random image from Unsplash" width="140" height="140">
        <h2>Lorem, ipsum.</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, ducimus qui tenetur laborum atque enim?</p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://source.unsplash.com/random/200x200" alt="Random image from Unsplash" width="140" height="140">
        <h2>Lorem, ipsum.</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, ducimus qui tenetur laborum atque enim?</p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://source.unsplash.com/random/200x200" alt="Random image from Unsplash" width="140" height="140">
        <h2>Lorem, ipsum.</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, ducimus qui tenetur laborum atque enim?</p>
      </div>
    </div>


    

  </div>
  
{% endblock %}